@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  /* ### Primary */
  --cyan: hsl(179, 62%, 43%);
  --dark-cyan: hsl(179, 65%, 38%);
  --bright-yellow: hsl(71, 73%, 54%);

  /* ### Neutral */
  --light-gray: hsl(204, 43%, 93%);
  --light-gray-transparent: hsla(204, 43%, 93%, 0.5);
  --grayish-blue: hsl(218, 22%, 67%);
  /* --bg: hsl(212, 45%, 89%); */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  background-color: var(--grayish-blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  color: var(--cyan);
  margin-bottom: 20px;
  font-size: 1.25rem;
}

h4 {
  color: var(--light-gray);
  margin-bottom: 15px;
  font-size: 1.1rem;
}

p {
  margin-bottom: 10px;
}

/* ============ 0. CONTAINER ========= */
.container {
  background-color: var(--grayish-blue);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 800px;

  border-radius: 10px; /*set this value equal to radious of child divs to avoid seeing 4 corner */
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.07);
}

.guarantee,
.subscription,
.why-us {
  padding: 30px 60px;
}
/* ============ 1. GUARANTEE ========= */

.guarantee {
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  color: var(--grayish-blue);

  grid-column: 1/ -1;
}

.guarantee h4 {
  color: var(--bright-yellow);
}

/* ============ 2. SUBSCRIPTION ========= */

.subscription {
  border-radius: 0 0 0 10px;
  background-color: var(--dark-cyan);
  color: var(--light-gray);
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.dollar {
  font-size: 2rem;
  font-weight: 700;
}

.monthly {
  color: var(--light-gray-transparent);
}

.btn {
  margin-top: 20px;
  border: none;
  background-color: var(--bright-yellow);
  color: var(--light-gray);
  padding: 15px 30px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 15px 20px 5px rgba(0, 0, 0, 0.07);
}

.btn:active {
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.07);
}

/* ============ 3. WHY-US ========= */

.why-us {
  border-radius: 0 0 10px 0;
  background-color: var(--cyan);
  color: var(--light-gray);
}

.why-us ul {
  color: hsla(204, 43%, 93%, 0.65);
  list-style-type: none;
}

.why-us li {
  margin-bottom: 5px;
}

/* ============ 4. FOOTER ========= */

footer {
  position: absolute;
  bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 610px) {
  body {
    font-size: 14px;
  }

  .container {
    display: block;
    margin: 60px 30px;
  }

  .guarantee,
  .subscription,
  .why-us {
    padding: 30px;
  }

  .subscription {
    border-radius: unset;
  }

  .why-us {
    border-radius: 0 0 10px 10px;
  }

  footer {
    position: relative;
  }
}
